.title {
  text-align: center; }
  .title h1 {
    color: red; }

aside {
  border-right: 2px solid #212529; }

#content {
  border-top: 2px solid #212529;
  border-bottom: 2px solid #212529; }

#dropdownMenuButton {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.4;
  padding: .5rem 1rem;
  display: block; }

#site-logo {
  padding-right: 60%; }

