body {
  background-color: white;
  height: 100%;
  width: 100%; }
  @media (min-width: 768px) {
    body {
      background-image: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=largesrgb&dpr=1&w=1024");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%; } }

.page-content {
  background-color: white;
  font-family: 'PT Serif';
  margin-top: 0px;
  margin-bottom: 0px; }
  @media (min-width: 768px) {
    .page-content {
      border: 2px solid #f8f9fa;
      margin-top: 50px;
      margin-bottom: 50px; } }

#site-logo {
  padding: 2% 8% 2% 10%;
  font-family: 'Lobster', cursive;
  color: #449c73;
  font-size: 25px;
  transition: all 0.1s ease-in-out; }
  @media (min-width: 600px) {
    #site-logo {
      font-size: 28px; } }
  @media (min-width: 992px) {
    #site-logo {
      font-size: 30px; } }
  @media (min-width: 1100px) {
    #site-logo {
      font-size: 28px; } }
  @media (min-width: 1400px) {
    #site-logo {
      font-size: 32px; } }

#site-logo:hover {
  transform: scale(1.1); }

.navbar-toggler {
  font-size: 16px; }

.navbar-nav {
  text-align: center; }
  @media (min-width: 992px) {
    .navbar-nav {
      width: 95%;
      padding-right: 5%; } }

.navbar-light .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  transition: all 0.1s ease-in-out; }
  @media (min-width: 600px) {
    .navbar-light .navbar-nav .nav-item .nav-link {
      font-size: 16px; } }
  @media (min-width: 1400px) {
    .navbar-light .navbar-nav .nav-item .nav-link {
      font-size: 18px; } }

.nav-link:hover {
  transform: scale(1.1); }

#footer {
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #449c73;
  padding: 20px 0;
  background-color: #f8f9fa !important;
  display: none; }
  @media (min-width: 768px) {
    #footer {
      font-size: 18px;
      display: block; } }
  @media (min-width: 992px) {
    #footer {
      font-size: 20px; } }
  @media (min-width: 1400px) {
    #footer {
      font-size: 22px; } }

.template-content {
  font-family: 'PT Serif';
  font-size: 18px;
  color: #347781; }

#delete-recipe-button {
  margin-left: -1%;
  margin-bottom: 2%; }

.button-margin {
  margin: 4% 0 2% 0; }

.confirm-button-margin {
  margin: 4% 0 4% 0; }

.advanced-search-button {
  margin-bottom: 40px;
  text-align: center; }
  .advanced-search-button a {
    text-decoration: none; }
  @media (min-width: 992px) {
    .advanced-search-button {
      margin-bottom: 50px; } }

.button-center {
  margin: 30px 0 30px 0;
  text-align: center; }
  .button-center a {
    text-decoration: none; }
  @media (min-width: 992px) {
    .button-center {
      margin: 45px 0 35px 0; } }

.update-button-center {
  margin: 0px 0 50px 0;
  text-align: center; }
  .update-button-center a {
    text-decoration: none; }
  @media (min-width: 992px) {
    .update-button-center {
      margin: 30px 0 55px 0; } }

.add-button-center {
  margin: 40px 0 40px 0;
  text-align: center; }
  .add-button-center a {
    text-decoration: none; }
  @media (min-width: 992px) {
    .add-button-center {
      margin: 45px 0 40px 0; } }
  @media (min-width: 1400px) {
    .add-button-center {
      margin: 45px 0 40px 0; } }

.submit-button-center {
  margin: 8% 0 0 0;
  text-align: center; }
  .submit-button-center a {
    text-decoration: none; }
  @media (min-width: 992px) {
    .submit-button-center {
      margin: 8% 0 2% 0; } }

.card-button-center {
  margin: 0 0 20px 0;
  text-align: center; }
  .card-button-center a {
    text-decoration: none; }
  @media (min-width: 992px) {
    .card-button-center {
      margin: 30px 0 35px 0; } }

.text-search-button {
  margin: 0 0 8% 0;
  text-align: center; }
  .text-search-button a {
    text-decoration: none; }
  @media (min-width: 600px) {
    .text-search-button {
      margin: 2% 0 8% 0; } }

.btn {
  font-size: 14px;
  transition: background-color 0.5s ease-in-out; }
  @media (min-width: 600px) {
    .btn {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .btn {
      font-size: 18px; } }
  @media (min-width: 1400px) {
    .btn {
      font-size: 20px; } }

#search-submit {
  margin-top: 5%;
  background-color: #343a40;
  border-color: #343a40; }

#login {
  color: #495057;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.4;
  padding: .5rem 1rem;
  display: block; }

.browse-button {
  margin-top: 2%; }
  @media (min-width: 429px) {
    .browse-button {
      margin-top: 0; } }

.redirect-user-button {
  margin: -2% 0 5% 0; }

.carousel-item {
  height: 100%; }

.carousel-control-prev {
  Left: 5%;
  Top: 25%;
  height: 100px; }
  @media (min-width: 768px) {
    .carousel-control-prev {
      Top: 25%; } }

.carousel-control-next {
  Right: 5%;
  Top: 25%;
  height: 100px; }
  @media (min-width: 768px) {
    .carousel-control-next {
      Top: 25%; } }

.carousel-indicators {
  display: none;
  position: absolute;
  bottom: 60%; }

.carousel-inner > .item > img {
  height: 500px; }

.col-form-label {
  font-size: 14px; }
  @media (min-width: 600px) {
    .col-form-label {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .col-form-label {
      font-size: 18px; } }
  @media (min-width: 1400px) {
    .col-form-label {
      font-size: 20px; } }

#displayed-image-link,
.form-control,
.form-control::placeholder {
  font-size: 13px; }
  @media (min-width: 600px) {
    #displayed-image-link,
    .form-control,
    .form-control::placeholder {
      font-size: 16px; } }
  @media (min-width: 992px) {
    #displayed-image-link,
    .form-control,
    .form-control::placeholder {
      font-size: 18px; } }
  @media (min-width: 1400px) {
    #displayed-image-link,
    .form-control,
    .form-control::placeholder {
      font-size: 20px; } }

select {
  font-size: 13px !important; }
  @media (min-width: 600px) {
    select {
      font-size: 16px !important; } }
  @media (min-width: 992px) {
    select {
      font-size: 18px !important; } }
  @media (min-width: 1400px) {
    select {
      font-size: 20px !important; } }

.checkbox-text {
  font-size: 13px; }
  @media (min-width: 600px) {
    .checkbox-text {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .checkbox-text {
      font-size: 18px; } }
  @media (min-width: 1400px) {
    .checkbox-text {
      font-size: 20px; } }

.select-colour {
  color: #495057; }

.form-control::placeholder {
  text-align: center;
  color: #495057; }

input[type="checkbox"] {
  margin-right: 2%;
  transform: scale(0.9); }
  @media (min-width: 600px) {
    input[type="checkbox"] {
      transform: scale(0.95); } }
  @media (min-width: 1400px) {
    input[type="checkbox"] {
      transform: scale(1); } }

input[type="file"] {
  font-size: 13px; }
  @media (min-width: 600px) {
    input[type="file"] {
      font-size: 16px; } }
  @media (min-width: 992px) {
    input[type="file"] {
      font-size: 18px; } }
  @media (min-width: 1400px) {
    input[type="file"] {
      font-size: 20px; } }

.dietary-allergen-label {
  margin: 5% 0; }

#advanced-search {
  margin-left: 0; }

.search-container {
  padding: 8% 0; }
  @media (min-width: 600px) {
    .search-container {
      padding: 6% 0; } }

.card {
  background-color: #f8f9fa; }

.card-body {
  width: 96%;
  margin: 2% 2% 0 2%;
  padding-bottom: 0; }
  .card-body h4 {
    font-size: 16px; }
    @media (min-width: 600px) {
      .card-body h4 {
        font-size: 18px; } }
    @media (min-width: 992px) {
      .card-body h4 {
        font-size: 25px; } }
    @media (min-width: 1400px) {
      .card-body h4 {
        font-size: 28px; } }
  .card-body p {
    font-size: 12px; }
    @media (min-width: 600px) {
      .card-body p {
        font-size: 14px; } }
    @media (min-width: 992px) {
      .card-body p {
        font-size: 18px; } }
    @media (min-width: 1400px) {
      .card-body p {
        font-size: 20px; } }

.image-card {
  width: 90%;
  margin: 5% 5% 0 5%; }

.image_margin {
  margin-bottom: 5%; }

.search-results-container {
  margin-bottom: 30px; }

.plot-area {
  padding: 5% 0;
  overflow-x: scroll; }
  @media (min-width: 600px) {
    .plot-area {
      overflow-x: hidden; } }
  .plot-area h6 {
    font-size: 14px;
    margin-bottom: 30px; }
    @media (min-width: 600px) {
      .plot-area h6 {
        font-size: 16px; } }
    @media (min-width: 992px) {
      .plot-area h6 {
        font-size: 18px; } }
    @media (min-width: 1400px) {
      .plot-area h6 {
        font-size: 20px; } }

#plot-reset {
  text-decoration: none;
  font-size: 14px; }
  @media (min-width: 600px) {
    #plot-reset {
      font-size: 16px; } }
  @media (min-width: 992px) {
    #plot-reset {
      font-size: 18px; } }
  @media (min-width: 1400px) {
    #plot-reset {
      font-size: 20px; } }

.hidden {
  display: none; }

.flashes {
  text-align: center;
  margin: 20px 0 0 0;
  font-family: 'PT Serif';
  font-size: 14px;
  color: #347781; }
  @media (min-width: 600px) {
    .flashes {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .flashes {
      font-size: 18px; } }
  @media (min-width: 1400px) {
    .flashes {
      font-size: 20px; } }

.recipe-name {
  padding: 0;
  margin: 0 0 5% 0; }

.recipe-image {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.recipe-image-container {
  border: 2px solid #f8f9fa; }

.show-recipe-info {
  margin: 35px 0 25px 0; }

.recipe-info {
  margin-bottom: 10px;
  font-size: 12px; }
  @media (min-width: 600px) {
    .recipe-info {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .recipe-info {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .recipe-info {
      font-size: 18px; } }
  @media (min-width: 1400px) {
    .recipe-info {
      font-size: 20px; } }

.ingredients-container {
  background-color: #f8f9fa;
  height: 100%; }

.ingredients-margin {
  margin: 0 5% 5% 5%; }

.show-ingredients-label {
  margin-bottom: 10%;
  margin-left: 5%;
  margin-top: 8%; }

.show-instructions-label {
  padding-top: 4%;
  margin-bottom: 5%; }

.show-recipe-label {
  font-size: 14px; }
  @media (min-width: 600px) {
    .show-recipe-label {
      font-size: 16px; } }
  @media (min-width: 768px) {
    .show-recipe-label {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .show-recipe-label {
      font-size: 20px; } }
  @media (min-width: 1400px) {
    .show-recipe-label {
      font-size: 22px; } }

.show-recipe-info-text {
  margin-top: 20px; }

.recipe-label-margin {
  margin-bottom: 10%; }

.index-page-heading {
  margin: 20px 0 0 0;
  font-size: 16px; }
  @media (min-width: 600px) {
    .index-page-heading {
      margin: 25px 0 0 0;
      font-size: 18px; } }
  @media (min-width: 768px) {
    .index-page-heading {
      margin: 30px 0 0 0; } }
  @media (min-width: 992px) {
    .index-page-heading {
      margin: 35px 0 0 0;
      font-size: 22px; } }
  @media (min-width: 1400px) {
    .index-page-heading {
      margin: 40px 0 0 0;
      font-size: 25px; } }

.register-page-heading {
  margin-top: 30px; }

.login-page-heading {
  margin: 30px;
  font-size: 16px; }
  @media (min-width: 600px) {
    .login-page-heading {
      margin: 25px 0 30px 0;
      font-size: 18px; } }
  @media (min-width: 768px) {
    .login-page-heading {
      margin: 30px 0 30px 0; } }
  @media (min-width: 992px) {
    .login-page-heading {
      margin: 35px 0 30px 0;
      font-size: 22px; } }
  @media (min-width: 1400px) {
    .login-page-heading {
      margin: 35px 0 40px 0;
      font-size: 22px; } }

.add-recipe-page-heading {
  margin: 30px 0;
  font-size: 16px; }
  @media (min-width: 600px) {
    .add-recipe-page-heading {
      margin: 25px 0 35px 0;
      font-size: 18px; } }
  @media (min-width: 768px) {
    .add-recipe-page-heading {
      margin: 30px 0 35px 0; } }
  @media (min-width: 992px) {
    .add-recipe-page-heading {
      margin: 35px 0 45px 0;
      font-size: 22px; } }
  @media (min-width: 1400px) {
    .add-recipe-page-heading {
      margin: 40px 0 50px 0;
      font-size: 25px; } }

.text-align-centre {
  text-align: center; }
  .text-align-centre h5 {
    padding: 5% 0; }

.search-text-align-centre {
  text-align: center; }
  .search-text-align-centre h5 {
    padding: 5% 0 2% 0; }

/*# sourceMappingURL=main.css.map */
