body {
  /* The image used */
  
  background-image: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=largesrgb&dpr=1&w=1024");
  /* Set a specific height */
  height: 100%;  
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image_margin {
  margin-bottom: 5%;
}

#delete-recipe-button {
  margin-left: -1%;
  margin-bottom: 2%;
}

.button-margin {
  margin: 4% 0 2% 0;
}

.hidden {
  display: none; }

.carousel-item {
  height: 100%;
}

.card {
  background-color: #f8f9fa;
}

.carousel-control-prev {
  Left: 5%;
  Top: -35%;
}

.carousel-control-next {
  Right: 5%;
  Top: -35%;
}

.carousel-indicators {
position: absolute;
bottom: 44%;
}

.carousel-caption a {
  color: #fafafa;
  font-size: 26px;
}

.plot-reset {
  text-decoration: none;
}
.plot-area {
  padding: 10px 0;
  
  h6 {
    margin-bottom: 10px;
  }
}
.carousel-inner > .item > img {
  height: 500px; 
  object-fit: cover;
}

.form-control::placeholder {
  text-align: center;
  color: #495057;
}

.select-colour {
  color: #495057;
}

//.pre-post-page-content-parallax { height: 100px;}
 
.search-container {
  padding: 5% 0;
  h5 {
    text-align:center;
    line-height:1.5;
  }
  
}

.flashes{
  text-align:center;
  margin: 20px 0 0 0;
  font-family: 'PT Serif';
  font-size: 18px;
  color: #347781;
}



.block-heading{
  margin: 2% 0 4% 4%;
}

.recipe-name{
  padding:0;
  margin:0 0 5% 0;
}

.content{
  padding:0;
  margin:0;
}

.instructions{
  text-align:justify;
  font-size: 18px;
  padding: 5% 0 2% 0;
}

.instructions-heading{
  padding-left:2%;
  font-size: 20px;
  text-decoration:underline;
}

.page-content{
  border: 2px solid #f8f9fa;
  background-color:white;
  margin-top:50px;
  margin-bottom:50px;
  font-family: 'PT Serif';
}

.template-content {
  font-family: 'PT Serif';
  font-size: 18px;
  color: #347781;
  
}

.text-search-button{
  margin-bottom:20px;
}

.advanced-search-button {
  margin-bottom:40px;
}

.material-icons{
  font-size: 30px;
}

#footer {
  text-align: center; 
  font-family: 'Lobster', cursive;
  color: #449c73;
  padding: 20px 0;
  font-size:18px;
  background-color: #f8f9fa !important;
}

.button-center{
  margin: 30px 0 30px 0;
  text-align: center;
  a {
    text-decoration:none;
  }
}

.text-search-button-center{
  margin: 0 0 30px 0;
  text-align: center;
  a {
    text-decoration:none;
  }
}
.advanced-search-button-center {
  margin: 0 0 30px 0;
  text-align: center;
  a {
    text-decoration:none;
  }
}

.search-filter{
  font-family: 'Lobster', cursive;
  background-color:#33567a;
  border-color:#33567a;
  color:#fafafa;
  font-size: 18px;
  width: 150px;
  margin: 2% 0;
  margin-left: 11%;
    
}

#search-submit{
      margin-top: 5%;
      background-color: #343a40;
      border-color: #343a40;
    }

#login {
  color: #495057;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.4;
  padding: .5rem 1rem;
  display: block;
}

#site-logo {
  padding: 2% 8% 2% 2%; 
  font-family: 'Lobster', cursive;
  color: #449c73;
  font-size: 25px;
}

.advanced-search-label {
  margin-bottom: 5%;
}

#header{
   border-bottom: 5px solid #33567a;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  font-size: 16px;
}

.recipe-image { 
  width: 100%;
  height:100%;
  padding: 0;
  margin: 0;
}

.search-results-container {
  margin-bottom: 30px;
}

.recipe-image-container {
  border: 2px solid #f8f9fa;
}

.show-recipe-info {
  margin: 35px 25px 0;
}

.show-ingredients-label{
  margin-bottom: 10%;
}

.show-recipe-info-text {
  margin-top: 20px;
}

.recipe-info{
  font-size: 18px;
  margin-bottom: 10px;
}

.ingredients{
  font-size: 18px;
  padding: 10% 0 2% 0;
}

.image-card {
  width: 90%;
  margin: 5% 5% 0 5%;
}

.card-body {
  width: 96%;
  margin: 2% 2% 0 2%;
  padding-bottom: 0;
}

.material-icons {
  font-size: 18px;
}

#advanced-search{
  margin-left:0;
}

#text-search{
  //margin-left:20%;
}

.dietary-allergen-label{
  margin: 5% 0;
}

#advanced-search-submit{
  margin-left:-25%;
}

.register-page-heading {
  margin-top: 30px;
}
.login-page-heading{
  margin: 30px;
}

.add-recipe-page-heading {
  margin: 30px 0 40px 0;
}

.results-page-heading {
  margin: 30px 0 20px 0;
}

.index-page-heading {
  margin: 30px 0 0 0;
  
}

.text-align-centre  {
    text-align:center;
    
    h5 { padding: 5% 0;}
   }
 
.search-text-align-centre  {
    text-align:center;
    
    h5 { padding: 5% 0 2% 0;}
   }  

