

// media breakpoints //
$break-phone: 600px;
$break-tablet: 768px;
$break-laptop: 992px;
$break-desktop: 1100px;
$break-desktop-large: 1400px;



// page background //

body {
  background-color: white;
  height: 100%;
  width: 100%;

  @media (min-width: $break-tablet) {
    background-image: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=largesrgb&dpr=1&w=1024");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}



// page container //

.page-content {
  background-color: white;
  font-family: 'PT Serif';
  margin-top: 0px;
  margin-bottom: 0px;

  @media (min-width: $break-tablet) {
    border: 2px solid #f8f9fa;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}



// header //

#site-logo {
  padding: 2% 8% 2% 10%;
  font-family: 'Lobster', cursive;
  color: #449c73;
  font-size: 25px;
   transition: all 0.1s ease-in-out; 
  @media (min-width: $break-phone) {
    font-size: 28px;
  }
  
      @media (min-width: $break-laptop) {
      font-size: 30px;
    }
    
              @media (min-width: $break-desktop) {
      font-size: 28px;
    }
          @media (min-width: $break-desktop-large) {
      font-size: 32px;
    }
}

#site-logo:hover { transform: scale(1.1); }


.navbar-toggler { font-size: 16px; }

.navbar-nav {
  text-align: center;
  @media (min-width: $break-laptop) {
    width: 95%;
    padding-right: 5%; 
  }
}

.navbar-light .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  transition: all 0.1s ease-in-out; 
  
    @media (min-width: $break-phone) {
    font-size: 16px;
  }

  
            @media (min-width: $break-desktop-large) {
      font-size: 18px;
    }
}

.nav-link:hover { transform: scale(1.1); }



// footer //

#footer {
  text-align: center; 
  font-family: 'Lobster', cursive;
  color: #449c73;
  padding: 20px 0;
  background-color: #f8f9fa !important;
  display: none;
  
  
  @media (min-width: $break-tablet) {
    font-size: 18px;
    display: block;
  }
  
    @media (min-width: $break-laptop) {
    font-size: 20px;
  }
  
              @media (min-width: $break-desktop-large) {
        font-size: 22px;
    }
}



// buttons //

#delete-recipe-button {
  margin-left: -1%;
  margin-bottom: 2%;
}

.button-margin {
  margin: 4% 0 2% 0;
}

.confirm-button-margin {
  margin: 4% 0 4% 0;
}

.advanced-search-button {
  margin-bottom: 40px;
  text-align: center;
  a {
    text-decoration:none;
    }
    
    @media (min-width: $break-laptop) {
    margin-bottom: 50px;
  }  
    
}

.button-center{
  margin: 30px 0 30px 0;
  text-align: center;
  a {
    text-decoration:none;
  }
  
      @media (min-width: $break-laptop) {
    margin: 45px 0 35px 0;
  } 
}

.add-button-center{
  margin: 40px 0 40px 0;
  text-align: center;
  a {
    text-decoration:none;
  }
  
      @media (min-width: $break-laptop) {
    margin: 45px 0 40px 0;
  } 
  
        @media (min-width: $break-desktop-large) {
    margin: 45px 0 40px 0;
  } 
}

.submit-button-center{
  margin: 8% 0 0 0;
  text-align: center;
  a {
    text-decoration:none;
  }
  
  @media (min-width: $break-laptop) {
    margin: 8% 0 2% 0;
  }
  
}

.card-button-center{
  margin: 0 0 20px 0;
  text-align: center;
  a {
    text-decoration:none;
    }
  @media (min-width: $break-laptop) {
    margin: 30px 0 35px 0;
  }
  }

.text-search-button{
  margin: 0 0 8% 0;
  text-align: center;
    a {
      text-decoration:none;
      }
    
    @media (min-width: $break-phone) {
      margin: 2% 0 8% 0;
    }
  }


.btn {
  font-size: 14px;
  transition: background-color 0.5s ease-in-out;
  @media (min-width: $break-phone) {
    font-size: 16px;
  }
  
  @media (min-width: $break-laptop) {
    font-size: 18px;
  }
  
    @media (min-width: $break-desktop-large) {
    font-size: 20px;
  }
 }
 
 #search-submit{
      margin-top: 5%;
      background-color: #343a40;
      border-color: #343a40;
    }

#login {
  color: #495057;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.4;
  padding: .5rem 1rem;
  display: block;
}



// carousel //

.carousel-item {
  height: 100%;
}

.carousel-control-prev {
  Left: 5%;
  Top: -50%;
  @media (min-width: $break-tablet) {
    Top: -35%;
  }
}

.carousel-control-next {
  Right: 5%;
  Top: -50%;
  @media (min-width: $break-tablet) {
    Top: -35%;
  }
  
}

.carousel-indicators {
display: none;
position: absolute;
bottom: 60%;

}

.carousel-caption a {
  color: #fafafa;
  font-size: 26px;
}

.carousel-inner > .item > img {
  height: 500px; 
  object-fit: cover;
}



// forms //

.col-form-label { 
  font-size: 14px;
  
  @media (min-width: $break-phone) {
    font-size: 16px;
  }
  
      @media (min-width: $break-laptop) {
    font-size: 18px ;
      }
      
       @media (min-width: $break-desktop-large) {
    font-size: 20px;
  }
     
}

.form-control::placeholder {
  
  font-size: 13px;
  
  @media (min-width: $break-phone) {
    font-size: 16px;
  }
  
  @media (min-width: $break-laptop) {
    font-size: 18px;
  }
  
    @media (min-width: $break-desktop-large) {
    font-size: 20px;
  }
  
}

select {
  font-size: 13px !important;
  @media (min-width: $break-phone) {
      font-size: 16px !important;
    }
    
  @media (min-width: $break-laptop) {
    font-size: 18px !important;
  }
  
      @media (min-width: $break-desktop-large) {
    font-size: 20px !important;
  }
}

.checkbox-text { font-size: 13px; 
    @media (min-width: $break-phone) {
      font-size: 16px;
    }
    @media (min-width: $break-laptop) {
      font-size: 18px;
    }
        @media (min-width: $break-desktop-large) {
    font-size: 20px;
  }
  
}

.select-colour { color: #495057; }

.form-control::placeholder {
  text-align: center;
  color: #495057;
}

input[type="checkbox"] { 
  margin-right: 2%;
  
  transform: scale(0.9);     
  @media (min-width: $break-phone) {
      transform: scale(0.95);
    }
    
        @media (min-width: $break-desktop-large) {
    transform: scale(1);
  }
  
}


input[type="file"] {
  font-size: 13px;
  
  @media (min-width: $break-phone) {
      font-size: 16px;
    }
    @media (min-width: $break-laptop) {
      font-size: 18px;
    }
        @media (min-width: $break-desktop-large) {
    font-size: 20px;
  }
}

.dietary-allergen-label{
  margin: 5% 0;
}

#advanced-search{
  margin-left:0;
}

#text-search{
  //margin-left:20%;
}

.search-container {
  padding: 8% 0;
        
  @media (min-width: $break-phone) {
    padding: 6% 0;
  }
  
}



// recipe cards //

.card {
  background-color: #f8f9fa;
}

.card-body {
  width: 96%;
  margin: 2% 2% 0 2%;
  padding-bottom: 0;
    h4 {
      font-size: 16px;
      
      @media (min-width: $break-phone) {
        font-size: 18px;
      }
      
      @media (min-width: $break-laptop) {
        font-size: 25px;
      }
      
                  @media (min-width: $break-desktop-large) {
        font-size: 28px;
    }
    }
    p{ font-size: 12px;
      @media (min-width: $break-phone) {
        font-size: 14px;
      }
      @media (min-width: $break-laptop) {
        font-size: 18px;
      }
                  @media (min-width: $break-desktop-large) {
        font-size: 20px;
    }
    }
}



// ///////////////////////////////
.image_margin {
  margin-bottom: 5%;
}
// ///////////////////////////////
.image-card {
  width: 90%;
  margin: 5% 5% 0 5%;
}



// plots //

.plot-area {
  padding: 5% 0;
   overflow-x: scroll;
  
  h6 {
    font-size: 14px;
    margin-bottom: 30px;
    
    @media (min-width: $break-phone) {
        font-size: 16px;
    }
        @media (min-width: $break-laptop) {
        font-size: 18px;
    }
    
            @media (min-width: $break-desktop-large) {
        font-size: 20px;
    }
  }
}

#plot-reset {
  text-decoration: none;
  font-size: 14px;
  
        @media (min-width: $break-phone) {
        font-size: 16px;
      }
              @media (min-width: $break-laptop) {
        font-size: 18px;
    }
    
                @media (min-width: $break-desktop-large) {
        font-size: 20px;
    }
}


// hidden class //

.hidden { display: none; }
  
  
  
// flashed messages // 

.flashes{
  text-align:center;
  margin: 20px 0 0 0;
  font-family: 'PT Serif';
  font-size: 18px;
  color: #347781;
}


 
// show recipe // 
 
.instructions{
  text-align:justify;
  font-size: 18px;
  padding: 5% 0 2% 0;
}

.instructions-heading{
  padding-left:2%;
  font-size: 20px;
  text-decoration:underline;
}

.recipe-name{
  padding:0;
  margin:0 0 5% 0;
}

.recipe-image { 
  width: 100%;
  height:100%;
  padding: 0;
  margin: 0;
}

.recipe-image-container {
  border: 2px solid #f8f9fa;
}

.show-recipe-info {
  margin: 35px 25px 0;
}

.recipe-info {
  font-size: 14px;
  margin-bottom: 10px;
}

.show-ingredients-label{
  margin-bottom: 10%;
}

.show-recipe-info-text {
  margin-top: 20px;
}

.ingredients{
  font-size: 18px;
  padding: 10% 0 2% 0;
}



// page headings //

.index-page-heading {
  margin: 20px 0 0 0;
  font-size: 16px;
  
  @media (min-width: $break-phone) {
    margin: 25px 0 0 0;
    font-size: 18px;
  }
  
  @media (min-width: $break-tablet) {
    margin: 30px 0 0 0;
  }
  
  @media (min-width: $break-laptop) {
    margin: 35px 0 0 0;
    font-size: 22px;
  }
  
  @media (min-width: $break-desktop-large) {
    margin: 40px 0 0 0;
      font-size: 25px;
    }
}

.register-page-heading {
  margin-top: 30px;
}

.login-page-heading{
  
  margin: 30px;
  font-size: 16px;
  
  @media (min-width: $break-phone) {
    margin: 25px 0 30px 0;
    font-size: 18px;
  }
  
  @media (min-width: $break-tablet) {
    margin: 30px 0 30px 0;
  }
  
  @media (min-width: $break-laptop) {
    margin: 35px 0 30px 0;
    font-size: 22px;
  }
  
  @media (min-width: $break-desktop-large) {
    margin: 35px 0 40px 0;
    font-size: 22px;
  }

}


.add-recipe-page-heading {
  margin: 30px 0 ;
  font-size: 16px;
  
  @media (min-width: $break-phone) {
    margin: 25px 0 35px 0;
    font-size: 18px;
  }
  
  @media (min-width: $break-tablet) {
    margin: 30px 0 35px 0;
  }
  
  @media (min-width: $break-laptop) {
    margin: 35px 0 45px 0;
    font-size: 22px;
  }
  
  @media (min-width: $break-desktop-large) {
    margin: 40px 0 50px 0;
      font-size: 25px;
    }
}

.results-page-heading {
  margin: 30px 0 20px 0;
}



// text align-centre //

.text-align-centre  {
    
    text-align:center;
    h5 { padding: 5% 0;}
    
  }
 
.search-text-align-centre  {
    
    text-align:center;
    h5 { 
        padding: 5% 0 2% 0;
      
    }
    
   }  
   
   
// template content //

.template-content {
  font-family: 'PT Serif';
  font-size: 18px;
  color: #347781;

}







 
.search-results-container {
  margin-bottom: 30px;
}







.block-heading{
  margin: 2% 0 4% 4%;
}



.content{
  padding:0;
  margin:0;
}







.search-filter{
  font-family: 'Lobster', cursive;
  background-color:#33567a;
  border-color:#33567a;
  color:#fafafa;
  font-size: 18px;
  width: 150px;
  margin: 2% 0;
  margin-left: 11%;
    
}





.advanced-search-label {
  font-size: 75%;
}

#header{
   border-bottom: 5px solid #33567a;
}




















    
    

    
    
    