{% extends "base.html" %} 

{% block title %} Favourites {% endblock %} 

{% block content_two %}
<!-- favourites count -->
<div class="row no-gutters">
    <div class="col-12 search-text-align-centre">
        {% if favourites_count != 1 %}
        <h4 class="add-recipe-page-heading"> You have {{favourites_count}} favourite recipes</h4>
        {% else %}
        <h4 class="add-recipe-page-heading"> You have {{favourites_count}} favourite recipe</h4>
        {% endif %}
    </div>
</div>
<!-- RECIPE CARD -->
<div class="row no-gutters">
    {% for recipe in recipes %}
    <div class="col-12 search-results-container">
        <div class="col-10 offset-1 card">
            <img class="card-img-top img-fluid image-card" src={{recipe.recipeImageLink}} alt="Image unavailable">
            <div class="card-body">
                <h4 class="text-align-centre">{{recipe.recipeName }}</h4>
                <div class="row no-gutters show-recipe-info">
                    <div class="col-5 offset-1">
                        <p>Author: {{recipe.recipeAuthor}}</p>
                        <p>Cuisine: {{recipe.recipeCuisine}}</p>
                        <p>Preparation time: {{recipe.recipePreparationTime}}</p>
                        <p>Cooking time: {{recipe.recipeCookingTime}}</p>
                    </div>
                    <div class="col-5 offset-1">
                        <p>Servings: {{recipe.recipeServings}}</p>
                        <p>Difficulty: {{recipe.recipeDifficulty}}</p>
                        <p>Mealtime: {{recipe.recipeMealTime}}</p>
                        <p>Likes: {{recipe.recipeUpvotes}}</p>
                    </div>
                </div>
                <div class="button-center">
                    <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">
                        <button class="btn btn-outline-success my-2 my-sm-0">View recipe</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <!-- redirect user to browse all recipes -->
    <div class="col-10 offset-1 text-align-centre">
        <h4 class="add-recipe-page-heading"> Is there perhaps something you like here?</h4>
    </div>
    <div class="col-12 button-center">
        <a href="{{url_for('browse_all_recipes')}}">
            <button class="btn btn-outline-info redirect-user-button">Browse all recipes</button>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}