{% extends "base.html" %} 

{% block title %} Home {% endblock %} 

{% block content_one %}
<div class="row no-gutters">
    <div class="col-12 text-align-centre">
        <h4 class="index-page-heading">
            Find a recipe
        </h4>
    </div>
</div>
<!-- TEXT SEARCH -->
<div class="col-12" id="search-form">
    <div class="row no-gutters search-container">
        <!-- text search form -->
        <div class="col-6 offset-3">
            <form class="form-inline" action="{{ url_for('search')}}" method="POST" autocomplete="off" id="text-search-form">
                <input class="form-control col-12 text-align-centre" type="search" placeholder="Please enter your search" id="search-text-area" name="searchContent" aria-label="Search">
            </form>
        </div>
    </div>
    <!-- search button and advanced search toggle button -->
    <div class="col-12 advanced-search-button">
        <button class="btn btn-outline-success col-3" type="submit" form="text-search-form">Search</button>
        <button class="btn btn-outline-info" id="advanced-search" type="submit">Advanced search</button>
        <a href="{{url_for('browse_all_recipes')}}">
            <button class="btn btn-outline-info browse-button">Browse all recipes</button>
        </a>
    </div>
</div>
<!-- ADVANCED SEARCH -->
<div class="col-12 search-container hidden" id="advanced-search-form">
    <!-- toggle text search button -->
    <div class="row no-gutters text-search-button">
        <div class="col-4 offset-4">
            <button class="btn btn-outline-info" id="text-search" type="submit">Text search</button>
        </div>
    </div>
    <!-- advanced search form -->
    <form id="advanced_search_form" action="{{ url_for('advanced_search')}}" method="POST" autocomplete="off">
        <div class="form-group row">
            <!-- cuisine input -->
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-10 offset-2 col-form-label" for="cuisine">Cuisine</label>
                    <div class="col-10 offset-2">
                        <select class="form-control cuisine-menu text-align-centre" id="recipeCuisine">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <input type="hidden" class="form-control" name="recipeCuisine" placeholder="Please enter cuisine">
                    </div>
                </div>
            </div>
            <!-- country of origin input -->
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-10 col-form-label" for="CountryOfOrigin">Country of origin</label>
                    <div class="col-10">
                        <select class="form-control countryOfOrigin-menu text-align-centre" id="recipeCountryOfOrigin">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div>
                        <input type="hidden" class="form-control" name="recipeCountryOfOrigin" placeholder="Please enter country of origin">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <!-- mealtime input -->
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-10 offset-2 col-form-label" for="mealtime">Mealtime</label>
                    <div class="col-10 offset-2">
                        <select class="form-control mealtime-menu text-align-centre" id="recipeMealTime">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div>
                        <input type="hidden" class="form-control" name="recipeMealTime" placeholder="Please enter mealtime">
                    </div>
                </div>
            </div>
            <!-- servings input -->
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-10 col-form-label" for="servings">Number of servings</label>
                    <div class="col-10">
                        <input type="number" class="form-control text-align-centre" id="recipeServings" placeholder="Please select" min="0" max="20">
                    </div>
                    <div>
                        <input type="hidden" class="form-control" name="recipeServings" placeholder="Please enter number of servings">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <!-- difficulty input -->
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-10 offset-2 col-form-label" for="difficulty">Difficulty</label>
                    <div class="col-10 offset-2">
                        <select class="form-control difficulty-menu text-align-centre" id="recipeDifficulty">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div>
                        <input type="hidden" class="form-control" name="recipeDifficulty" placeholder="Please enter difficulty">
                    </div>
                </div>
            </div>
            <!-- preparation time input -->
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-10 col-form-label" for="preparationtime">Preparation time</label>
                    <div class="col-10">
                        <input type="number" class="form-control text-align-centre" id="recipePreparationTime" placeholder="Please select" min="0" max="200" step="5">
                    </div>
                    <div>
                        <input type="hidden" class="form-control" name="recipePreparationTime" placeholder="Please enter preparation time">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <!-- cooking time input -->
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-10 offset-2 col-form-label" for="cookingtime">Cooking time</label>
                    <div class="col-10 offset-2">
                        <input type="number" class="form-control text-align-centre" id="recipeCookingTime" placeholder="Please select" min="0" max="200" step="5">
                    </div>
                    <div>
                        <input type="hidden" class="form-control" name="recipeCookingTime" placeholder="Please enter cooking time">
                    </div>
                </div>
            </div>
            <!-- main ingredient input -->
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-10 col-form-label" for="mainIngredient">Main Ingredient</label>
                    <div class="col-10">
                        <select class="form-control mainIngredient-menu text-align-centre" id="recipeMainIngredient">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div>
                        <input type="hidden" class="form-control" name="recipeMainIngredient" placeholder="Please enter main ingredient">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <!-- dietary input -->
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-10 offset-2 col-form-label" for="Dietary">Dietary</label>
                    <div class="col-10 offset-2 checkbox-text">
                        <input type="checkbox" name="Dietary" class="dietary-checkbox" value="Vegetarian"> Vegetarian<br>
                        <input type="checkbox" name="Dietary" class="dietary-checkbox" value="Pescetarian"> Pescetarian<br>
                        <input type="checkbox" name="Dietary" class="dietary-checkbox" value="Vegan"> Vegan<br>
                        <input type="checkbox" name="Dietary" class="dietary-checkbox" value="Dietary-other"> Dietary-other<br>
                        <input type="checkbox" name="Dietary" class="dietary-checkbox" value="Dietary-none"> Dietary-none
                    </div>
                    <div>
                        <input type="hidden" class="form-control" name="recipeDietary" placeholder="Please enter dietary requirements">
                    </div>
                </div>
            </div>
            <!-- allergens input -->
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-10 col-form-label" for="Allergen">Allergens</label>
                    <div class="col-10 checkbox-text">
                        <input type="checkbox" name="Allergen" class="allergen-checkbox" value="Dairy"> Dairy<br>
                        <input type="checkbox" name="Allergen" class="allergen-checkbox" value="Fish"> Fish<br>
                        <input type="checkbox" name="Allergen" class="allergen-checkbox" value="Peanuts"> Peanuts<br>
                        <input type="checkbox" name="Allergen" class="allergen-checkbox" value="Shellfish"> Shellfish<br>
                        <input type="checkbox" name="Allergen" class="allergen-checkbox" value="Soya"> Soya<br>
                        <input type="checkbox" name="Allergen" class="allergen-checkbox" value="Tree-Nuts"> Tree-Nuts<br>
                        <input type="checkbox" name="Allergen" class="allergen-checkbox" value="Wheat"> Wheat<br>
                        <input type="checkbox" name="Allergen" class="allergen-checkbox" value="Allergen-other"> Allergen-other<br>
                        <input type="checkbox" name="Allergen" class="allergen-checkbox" value="Allergen-none"> Allergen-none
                    </div>
                    <div>
                        <input type="hidden" class="form-control" name="recipeAllergen" placeholder="Please enter any allergens present">
                    </div>
                </div>
            </div>
        </div>
        <!-- advanced search submit button -->
        <div class="form-group row submit-button-center">
            <div class="col-12">
                <button type="submit" class="btn btn-outline-success" id="advanced-search-submit">Submit search</button>
            </div>
        </div>
    </form>
</div>
{% endblock %} 

{% block content_two %}
<!-- RECIPE CAROUSEL -->
<div class="row">
    <!-- carousel slideshow -->
    <div id="recipeIndicators" class="carousel slide col-10 offset-1" data-ride="carousel">
        <!-- inner carousel content -->
        <div class="carousel-inner">
            {% for recipe in recipes %}
            <div class="carousel-item item{% if loop.index == 1 %} active {% endif %}">
                <div class="card">
                    <img class="card-img-top img-fluid image-card" src={{recipe.recipeImageLink}} alt="Image unavailable">
                    <div class="card-body">
                        <h4 class="text-align-centre">{{recipe.recipeName }}</h4>
                        <div class="row no-gutters show-recipe-info">
                            <div class="col-5 offset-1">
                                <p>Author: {{recipe.recipeAuthor}}</p>
                                <p>Cuisine: {{recipe.recipeCuisine}}</p>
                                <p>Preparation time: {{recipe.recipePreparationTime}}</p>
                                <p>Cooking time: {{recipe.recipeCookingTime}}</p>
                            </div>
                            <div class="col-5 offset-1 recipe-info">
                                <p>Servings: {{recipe.recipeServings}}</p>
                                <p>Difficulty: {{recipe.recipeDifficulty}}</p>
                                <p>Mealtime: {{recipe.recipeMealTime}}</p>
                                <p>Likes: {{recipe.recipeUpvotes}}</p>
                            </div>
                        </div>
                        <div class="card-button-center">
                            <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">
                                <button class="btn btn-outline-success">View recipe</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- carousel controls -->
        <a class="carousel-control-prev" href="#recipeIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#recipeIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock %} 

{% block content_three %}
<!-- toggle show data button-->
<div class="button-center">
    <button id="get_Data" class="btn btn-outline-info">Show recipe data</button>
</div>
<!-- RECIPE DATA -->
<div id="recipe-data-plots" class="hidden">
    <!-- get recipe documents from db -->
    <div>
        <p id="data" class="hidden">{% for recipe in data %}{{ recipe }}{% endfor %}</p>
    </div>
    <div class="row no-gutters">
        <!-- recipe cuisine chart-->
        <div class="col-12 col-sm-6 text-align-centre plot-area">
            <div class="col-12" id="recipe-cuisine-chart">
                <h6>Recipes by cuisine
                    <span>
                        <a class="reset" 
                            href="javascript:cuisine_chart.filterAll();dc.redrawAll();" 
                            style="display: none;"> 
                            reset
                        </a>
                    </span>
                </h6>
            </div>
        </div>
        <!-- recipe allergen chart-->
        <div class="col-12 col-sm-6 text-align-centre plot-area">
            <div class="col-12" id="recipe-allergen-chart">
                <h6>Recipes by allergen
                    <span>
                        <a class="reset" 
                            href="javascript:allergen_chart.filterAll();dc.redrawAll();" 
                            style="display: none;"> 
                            reset
                        </a>
                    </span>
                </h6>
            </div>
        </div>
    </div>
    <hr width="75%">
    <!-- recipe main ingredient chart-->
    <div class="row no-gutters ">
        <div class="col-12 text-align-centre plot-area">
            <div class="col-12" id="recipe-main-ingredient-chart">
                <h6>Recipes by main ingredient
                    <span>
                        <a class="reset" 
                            href="javascript:main_ingredient_chart.filterAll();dc.redrawAll();" 
                            style="display: none;"> 
                            reset
                        </a>
                    </span>
                </h6>
            </div>
        </div>
    </div>
    <hr width="75%">
    <div class="row no-gutters">
    <!-- recipe dietary chart-->
        <div class="col-12 col-sm-6 text-align-centre plot-area">
            <div class="col-12" id="recipe-dietary-chart">
                <h6>Recipes by dietary requirements
                    <span>
                        <a class="reset" 
                            href="javascript:main_ingredient_chart.filterAll();dc.redrawAll();" 
                            style="display: none;"> 
                            reset
                        </a>
                    </span>
                </h6>
            </div>
        </div>
        <!-- recipe country of origin chart-->
        <div class="col-12 col-sm-6 text-align-centre plot-area">
            <div class="col-12" id="recipe-country-of-origin-chart">
                <h6>Recipes by country of origin
                    <span>
                        <a class="reset" 
                            href="javascript:country_of_origin_chart.filterAll();dc.redrawAll();" 
                            style="display: none;"> 
                            reset
                        </a>
                    </span>
                </h6>
            </div>
        </div>
    </div>
    <hr width="75%">
    <!-- recipe total time required chart-->
    <div class="row no-gutters">
        <div class="col-12 text-align-centre plot-area">
            <div class="col-12" id="recipe-total-time-chart">
                <h6>Recipes by total time required
                    <span>
                        <a class="reset" 
                            href="javascript:total_time_chart.filterAll();dc.redrawAll();" 
                            style="display: none;"> 
                            reset
                        </a>
                    </span>
                </h6>
            </div>
        </div>
    </div>
    <hr width="75%">
    <div class="row no-gutters">
        <!-- recipe servings chart-->
        <div class="col-12 col-sm-6 text-align-centre plot-area">
            <div class="col-12" id="recipe-servings-chart">
                <h6>Recipes by servings
                    <span>
                        <a class="reset" 
                            href="javascript:servings_chart.filterAll();dc.redrawAll();" 
                            style="display: none;"> 
                            reset
                        </a>
                    </span>
                </h6>
            </div>
        </div>
        <!-- recipe difficulty chart-->
        <div class="col-12 col-sm-6 text-align-centre plot-area">
            <div class="col-12" id="recipe-difficulty-chart">
                <h6>Recipes by difficulty
                    <span>
                        <a class="reset" 
                            href="javascript:difficulty_chart.filterAll();dc.redrawAll();" 
                            style="display: none;"> 
                            reset
                        </a>
                    </span>
                </h6>
            </div>
        </div>
    </div>
    <!-- reset all link-->
    <div class="button-center">
        <span>
            <a id="plot-reset" href="javascript:dc.filterAll(); dc.renderAll();">
                Reset all plots
            </a>
        </span>
    </div>
</div>
{% endblock %}