{% extends "base.html" %} {% block title %} Home {% endblock %} 

{% block content_one %}
    <div class="col-12 search-container">
        <div class="row no-gutters">
            <div class="col-3">
                <h5>Find a recipe:</h5>
            </div>
            <div class="col-6">
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('search_results')}}" method="POST">
                    <input class="form-control mr-sm-2" type="search" placeholder="Please enter your search" name="searchContent" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-3">
                <button class="btn btn-outline-success my-2 my-sm-0" id="advanced-search" type="submit">Advanced search</button>
            </div>
        </div>
    </div>
    
    <div class="col-12 search-container hidden" id='advanced-search-form'>
        <h4> Advanced Search:</h4>
    
        <form id="advanced_search_form" class="form-inline my-2 my-lg-0" action="{{ url_for('advanced_search_results')}}" method="POST">
            <div class="form-group row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-10 offset-1 col-form-label" for="cuisine">Cuisine</label>
                        <div class="col-10 offset-1 ">
                            <select class="form-control cuisine-menu" id="recipeCuisine">
                                <option>Please select</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" name="recipeCuisine" placeholder="Please enter cuisine">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-10 offset-1  col-form-label" for="CountryOfOrigin">Country of origin</label>
                        <div class="col-10 offset-1 ">
                            <select class="form-control countryOfOrigin-menu" id="recipeCountryOfOrigin">
                                <option>Please select</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" name="recipeCountryOfOrigin" placeholder="Please enter country of origin">
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="form-group row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-10 offset-1 col-form-label" for="mealtime">Mealtime</label>
                        <div class="col-10 offset-1">
                            <select class="form-control mealtime-menu" id="recipeMealTime">
                      <option>Please select</option>
                    </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" name="recipeMealTime" placeholder="Please enter mealtime">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-10 offset-1 col-form-label" for="servings">Number of servings</label>
                        <div class="col-10 offset-1">
                            <select class="form-control servings-menu" id="recipeServings">
                          <option>Please select</option>
                        </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" name="recipeServings" placeholder="Please enter number of servings">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-10 offset-1 col-form-label" for="difficulty">Difficulty</label>
                        <div class="col-10 offset-1">
                            <select class="form-control difficulty-menu" id="recipeDifficulty">
                      <option>Please select</option>
                    </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" name="recipeDifficulty" placeholder="Please enter difficulty">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-10 offset-1  col-form-label" for="preparationtime">Preparation time</label>
                        <div class="col-10 offset-1 ">
                            <select class="form-control preparationtime-menu" id="recipePreparationTime">
                      <option>Please select</option>
                    </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" name="recipePreparationTime" placeholder="Please enter preparation time">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-10 offset-1 col-form-label" for="cookingtime">Cooking time</label>
                        <div class="col-10 offset-1">
                            <select class="form-control cookingtime-menu" id="recipeCookingTime">
                      <option>Please select</option>
                    </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" name="recipeCookingTime" placeholder="Please enter cooking time">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-10 offset-1 col-form-label" for="mainIngredient">Main Ingredient</label>
                        <div class="col-10 offset-1">
                            <select class="form-control mainIngredient-menu" id="recipeMainIngredient">
                      <option>Please select</option>
                    </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" name="recipeMainIngredient" placeholder="Please enter main ingredient">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-10 offset-1 col-form-label" for="Dietary">Dietary</label>
                        <div class="col-10 offset-1">
                            <select multiple size="2" class="form-control dietary-menu" id="recipeDietary" data-toggle="tooltip" data-placement="top" title="Hold CTRL to multi-select">
                      <option>Please select</option>
                    </select>
                        </div>
                        <div class="col-10 offset-1">
                            <input type="hidden" class="form-control" name="recipeDietary" placeholder="Please enter dietary requirements">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-10 offset-1 col-form-label" for="Allergen">Allergens</label>
                        <div class="col-10 offset-1">
                            <select multiple size="2" class="form-control allergens-menu" id="recipeAllergen" data-toggle="tooltip" data-placement="top" title="Hold CTRL to multi-select">
                        <option>Please select</option>
                    </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" name="recipeAllergen" placeholder="Please enter any allergens present">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary recipe_button" id="add-recipe-submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block content_two %}
<div class="row">
    
    <div id="popularRecipeIndicators" class="carousel slide col-12" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#popularRecipeIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#popularRecipeIndicators" data-slide-to="1"></li>
        <li data-target="#popularRecipeIndicators" data-slide-to="2"></li>
        <li data-target="#popularRecipeIndicators" data-slide-to="3"></li>
        <li data-target="#popularRecipeIndicators" data-slide-to="4"></li>
      </ol>
      
      <div class="carousel-inner">
          {% for recipe in recipes %}
          <div class="carousel-item item{% if loop.index == 1 %} active {% endif %}">
              <img style="background-size: cover;" class="d-block w-100" src={{recipe.recipeImageLink}} alt="Image unavailable">
               <div class="carousel-caption d-none d-md-block"> 
                  <h2>{{recipe.recipeName }}</h2>
                  <h5>({{recipe.recipeUpvotes }} likes)</h5>
                  <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}"><h4>View recipe</h4></a>
          </div>
          </div>
         
          {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#popularRecipeIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#popularRecipeIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>



    
    <!--<div class="row no-gutters">
        {% for recipe in recipes %}
        <div class="col-3 offset-1 recipe-image-container">
            <img class="recipe-image" src={{recipe.recipeImageLink}} alt="Image unavailable">
        </div>
        <div class="col-6 offset-1">
            <h4 class="recipe-name">{{recipe.recipeName}}</h4>
            
            <div class="row no-gutters">
                <div class="col-6 recipe-info">
                        <p><i class="material-icons">create</i>  {{recipe._id}}</p>
                        <p><i class="material-icons">create</i>  {{recipe.recipeAuthor}}</p>
                        <p><i class="material-icons">restaurant_menu</i> {{recipe.recipeCuisine}}</p>
                        <p> <i class="material-icons">people</i>  {{recipe.recipeServings}} servings</p>
                </div>
                <div class="col-6 recipe-info">
                        <p><i class="material-icons">schedule</i>  {{recipe.recipeCookingTime}}</p>
                        <p><i class="material-icons">restaurant</i>  {{recipe.recipeDifficulty}}</p>
                        <p><i class="material-icons">stars</i>  {{recipe.recipeUpvotes}}</p>
                </div>
                <a href="{{url_for('edit_delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small">Edit/delete recipe</a>
                <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small">Show recipe</a>
            </div>
        </div>
        {% endfor %}
    </div>-->
{% endblock %}