{% extends "base.html" %}

{% block title %} Login {% endblock %} 

{% block content_one %}
<div class="row no-gutters">
	<div class="col-12 text-align-centre">
		<h4 class="login-page-heading">
			Please enter your login details
		</h4>
	</div>
</div>
<div class="row no-gutters">
	<div class="mx-auto">
			<form class="form-login" method="POST" action="{{ url_for('submit_login') }}">
				<div class="form-group">
					<label for="email">Email:</label>
					<input name="email" type="email" class="form-control text-align-centre" id="email"  placeholder="Please enter your email" required>
				</div>
				<div class="form-group">
					<label for="login-in-password">Password:</label>
					<input class="form-control text-align-centre" name="user_password" type="password" id="sign-in-password" placeholder="Please enter your password" required>
				</div>
				<div class="button-center">
					<button class="btn btn-outline-success btn-lg" type="submit">login</button>
				</div>
			</form>
	</div>
</div>
{% endblock %}