{% extends "base.html" %} 

{% block title %} Login {% endblock %} 

{% block content_one %}
<!-- ask user to log-in -->
<div class="row no-gutters">
	<div class="col-12 text-align-centre">
		<h4 class="login-page-heading">
			Please enter your log-in details
		</h4>
	</div>
</div>
<!-- LOG-IN FORM -->
<div class="row no-gutters">
	<div class="col-8 offset-2">
		<form class="form-login" method="POST" action="{{ url_for('submit_login') }}">
			<div class="form-group row">
				<label class="col-10 offset-1 col-form-label" for="email">Email:</label>
				<div class="col-10 offset-1">
					<input name="email" type="email" class="form-control text-align-centre" id="email" placeholder="Please enter your email" required>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-10 offset-1 col-form-label" for="login-in-password">Password:</label>
				<div class="col-10 offset-1">
					<input class="form-control text-align-centre" name="user_password" type="password" id="sign-in-password" placeholder="Please enter password" required>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-12 button-center">
					<button class="btn btn-outline-success btn-lg" type="submit">login</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}