{% extends "base.html" %} 
{% block title %} My recipes results {% endblock %} 

{% block content_two %}
<div class="row no-gutters">
	<div class="col-12 text-align-centre">
		<h4 class="results-page-heading">
			My recipes
		</h4>
	</div>
</div>
<div class="row no-gutters">
	<div class="col-12 search-text-align-centre">
        {% if my_recipes_count != 1 %}
            <h5> You have added {{my_recipes_count}} recipes</h4>
        {% else %}
            <h5> You have added {{my_recipes_count}} recipe</h4>
        {% endif %}
    </div>
</div>
<div class="row no-gutters">
{% for recipe in recipes %}

    <div class="col-12 search-results-container">
    <div class="col-10 offset-1 card">
        <img class="card-img-top img-fluid image-card" src={{recipe.recipeImageLink}} alt="Image unavailable">
        <div class="card-body">
            <h4 class="text-align-centre">{{recipe.recipeName }}</h4>
            <div class="row no-gutters show-recipe-info">
                <div class="col-4 offset-2 recipe-info">
                    <p>Author: {{recipe.recipeAuthor}}</p>
                    <p>Cuisine: {{recipe.recipeCuisine}}</p>
                    <p>Preparation time: {{recipe.recipePreparationTime}}</p>
                    <p>Cooking time: {{recipe.recipeCookingTime}}</p>
                </div>
                <div class="col-4 offset-1 recipe-info">
                    <p>Servings: {{recipe.recipeServings}}</p>
                    <p>Difficulty: {{recipe.recipeDifficulty}}</p>
                    <p>Mealtime: {{recipe.recipeMealTime}}</p>
                    <p>Likes: {{recipe.recipeUpvotes}}</p>
                </div>
            </div>
            <div class='button-center'>
                <a href="{{url_for('edit_delete_recipe', recipe_id=recipe._id)}}">
                    <button class="btn btn-outline-info my-2 my-sm-0">Edit/delete recipe</button>
                </a>
                <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">
                    <button class="btn btn-outline-success my-2 my-sm-0">View recipe</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class='col-12 text-align-centre'>
    <h5>Sorry, no recipes were found that match your criteria.</h5>
</div>
{% endfor %}
 </div> 
{% endblock %}