{% extends "base.html" %}

{% block title %}
    Show recipe
{% endblock %}

{% block content_two %}
    <h2 class="block-heading">{{recipe.recipeName}}</h2>

        <div class="row no-gutters">
            <div class="col-5 recipe-image-container">
                <img class="recipe-image" src={{recipe.recipeImageLink}} alt="Image unavailable">
            </div>
            <div class="col-2 offset-1 recipe-info">
                <p><i class="material-icons">create</i> {{recipe.recipeAuthor}}</p>
                <p><i class="material-icons">restaurant_menu</i> {{recipe.recipeCuisine}}</p>
                <p> <i class="material-icons">people</i> {{recipe.recipeServings}} servings</p>
                <p><i class="material-icons">schedule</i> {{recipe.recipeCookingTime}}</p>
                <p><i class="material-icons">restaurant</i> {{recipe.recipeDifficulty}}</p>
                <p><i class="material-icons">stars</i> {{recipe.recipeUpvotes}}</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-4">
                <h5 > Ingredients :</h5>
                <p id="recipeIngredientsDisplay">{{recipe.recipeIngredients}}</p>
            </div>
            <div class="col-8">
                <h5 class="instructions-heading">Instructions</h5>
                <p class ="instructions">{{ recipe.recipeInstructions }}</p>
            </div>
        </div>
        <a href="{{url_for('edit_delete_recipe', recipe_id=recipe._id)}}" 
                    class="waves-effect waves-light btn btn_small">Edit/delete recipe</a>

{% endblock %} 