{% extends "base.html" %}

{% block title %}
    Show recipe
{% endblock %}

{% block content_two %}
    <h3>{{recipe.recipeName}} ({{recipe.recipeAuthor}})</h3>
<div class="row">

        <div class="row">
           <div class="col-7">
               <img class="recipe-image" src={{recipe.recipeImageLink}} alt="Image unavailable">
           </div> 
           <div class="col-5">
               <p>Mealtime : {{recipe.recipeMealTime}}</p> <p>Servings : {{recipe.recipeServings}}</p>
                <p>Cuisine : {{recipe.recipeCuisine}}</p>
                <p>Country of origin : {{recipe.recipeCountryOfOrigin}}</p>
                
                <p>Difficulty : {{recipe.recipeDifficulty}}</p>
                <p>{{ recipe.recipeIngredients}}</p>

                    
                <p> Ingredients : <br />
                </p>
               
           </div>
           <div class="col-8">
               <h5>Instructions</h5>
                {{recipe.recipeInstructions}}
               <!-- {{recipe.recipeCuisine}}
                {{recipe.recipeCountryOfOrigin}}
                
                {{recipe.recipeDifficulty}}
                {{recipe.recipeIngredients}}-->
            </div>
        </div>
        <hr width="50%" align="center">

</div>   
{% endblock %} 